/target
/.idea
__pycache__
.DS_Store
# test executables are named w/ 16 hex digits, and gitignore doesn't do repeats
/viz/aoc-[0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f][0-9a-f]*
